:root {
  /* navbar */
  --nav-bg-color: rgb(2, 6, 56);
  --navBtn-color: rgb(243, 116, 12);
  --navBtn-hover-color: rgb(247, 190, 144);
  --nav-text1-color:white;
  --nav-text2-color:rgb(163, 77, 7);;
  --nav-text3-color:white;
  --navInput-bg-color:rgb(170, 175, 223);

  --sideBar-bg-color: rgb(41, 45, 102);
  --sideBarBtn-color: rgb(243, 116, 12);
  --sideBarBtn-hover-color: rgb(247, 190, 144);
  --sideBar-text1-color:white;
  --sideBar-text2-color:rgb(163, 77, 7);
  --sideBar-text3-color:white;
  --sideBarInput-bg-color:var(--navInput-bg-color);

  --list-bg-color: rgb(2, 6, 56);
  --listBtn-color: rgb(243, 116, 12);
  --listBtn-hover-color: rgb(247, 190, 144);
  --list-text1-color:white;
  --list-text2-color:rgb(247, 190, 144);
  --list-text3-color:rgba(170, 175, 223);

  --listRow-bg-color:rgb(151, 161, 243);
  --listRowBtn-color: rgb(243, 116, 12);
  --listRowBtn-hover-color: rgb(247, 190, 144);
  --listRow-text1-color:white;
  --listRow-text2-color:rgb(247, 190, 144);
  --listRow-text3-color:rgb(170, 175, 223);

  --body-bg-color:rgb(0, 0, 0);
  --table-bg-color:rgb(74, 86, 190);

  --deetailResource-bg-color:rgb(151, 161, 243);
  --deetailResourceBtn-color: rgb(243, 116, 12);
  --deetailResourceBtn-hover-color: rgb(247, 190, 144);
  --deetailResource-text1-color:white;
  --deetailResource-text2-color:rgb(247, 190, 144);
  --deetailResource-text3-color:rgb(170, 175, 223);

  --deetailResourcGridWord-bg-color:rgb(121, 136, 255);

  --HomeRowGrid-bg-color:rgba(90, 104, 226, 0.459);

}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--body-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.claseUnica {
  height: 86vh;
  display: flex;
}
/* HEADER */
#header {
  background-color: var(--nav-bg-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

#header a{
  text-decoration: none;
}

#header h4 {
  color:var(--nav-text1-color);
  margin-left: 1.5vw;
  text-decoration: none;
}

#header form input {
  border-radius: 25px;
  padding: 0.5vh 1vh;
  background-color: var(--navInput-bg-color);
}
#header form select {
  margin-right: 1vw;
  border-radius: 25px;
  padding: 0.5vh 1vh;
  background-color: var(--navInput-bg-color);
}
#header #searchbtn {
  margin: 0px;
}

.navButton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 0.5vh 1vh;
  border: none;
  border-radius: 25px;
  background-color: var(--navBtn-color);
}
.navButton:hover {
  background-color: var(--navBtn-hover-color);
  color:var(--nav-text2-color);
}

#usrBtns {
  margin-right: 1vw;
}


/* FOOTER */

footer {
  display: flex;
  color: var(--list-text1-color);
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-color: var(--nav-bg-color);
}

footer a{
  color: var(--list-text1-color);
  font-size: 30px;
  display: flex;
}

/* SIDEBAR */
.sidebarClase {
  background-color: var(--sideBar-bg-color);
  color: var(--sideBar-text1-color);
  padding: 5vh 0.5vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  height: 86vh;
}

.sidebarClase * {
  display: flex;
  flex-direction: column;
}

.sidebarClase h4{
  margin-top: 1vh;
  margin-right: auto;
  margin-left: auto;
}

.sidebarClase label{
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
}
.sidebarClase input{
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 0.5vh;
  padding: 1vh 2vh;
  border-radius: 10px;
  background-color: var(--sideBarInput-bg-color);
}
.sidebarClase select{
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 0.5vh;
  padding: 1vh 0.5vh;
  border-radius: 10px;
  background-color: var(--sideBarInput-bg-color);
}

.sideBarBtn{
  margin-top: 3vh;
  margin-bottom: 0px;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 0.5vh 1vh;
  border: none;
  border-radius: 25px;
  background-color: var(--navBtn-color);
}
.sideBarBtn:hover {
  background-color: var(--navBtn-hover-color);
  color:var(--nav-text2-color);
}


.contentClase {
  width: 85vw;
  height: 86vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

/* DetailesView */
.singleMovie {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 2vh 2vw;
  border-radius: 25px;
  overflow-y: hidden;
  
}

.singleMovie img{
  height: 100%;
  border-radius: 25px;
}

.resourceDetail{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content:start;
  background-color: transparent;
  padding: 2vh 2vw;
}

.detailResourceTitle{
  background-color: var(--deetailResource-bg-color);
  padding: 1vh 2vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 20%;
  border-radius: 25px;
  overflow-y: scroll;
}

.detailResourceTitleBtns{
  display: flex;
  width: 30%;
  height: 8vh;
}

.detailResourceTitleBtns button{
  width: 40%;
}

.detailResourceOverview{
  padding: 3vh 2vw;
  background-color: var(--deetailResource-bg-color);
  height: 30%;
  border-radius: 25px;
  border:3px solid black
}

.detailResourceInfo{
  padding: 1vh 2vw;
  background-color: var(--deetailResource-bg-color);
  height: 20%;
  border-radius: 25px;
  border:3px solid black;
  border-top: none;
  display: flex;
  flex-direction: column;
}
.detailResourceInfo div{
  display: flex;
  justify-content:flex-start;
  width: 100%;
}

.detailResourceInfo div ul{
  padding-left: 0;
  margin-right: 10px;
}


.detailResourceInfo div li{
  list-style-type: none;
  padding-top: 5px;
}

.detailResourceMiscInfo{
  display: flex;
  height: 30%;
}

.detailResourceBottom{
  width: 50%;
  padding: 1vh 2vw;
  background-color: var(--deetailResource-bg-color);
  border-radius: 25px;
  border:3px solid black;
  border-top: none;
  overflow-y: scroll;
}

.detailResourceBottom div{
  display: flex;
  flex-wrap: wrap;

}

.detailResourceWord{
  background-color: var(--deetailResourcGridWord-bg-color);
  margin:4px;
  padding: 8px;
  width: fit-content;
  border-radius: 25px;
}
.detailResourceWord span{
  text-align: center;
  margin: auto;
  height: 30px;
  width: fit-content;
}

/* card */
.cardClase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 342px;
  height: 547px;
  margin: 20px;
  border-radius: 25px;
  border: 2px solid rgb(170, 175, 223);
  overflow: hidden;
}

/* la imagen viene de w342 y h547 */
.cardClase img{
  z-index: -10;
  width: 342px;
  height: 547px;
}

.cardClase a{
  color: white;
  text-decoration: none;
  align-self: stretch;
  justify-self: stretch;
  text-align: center;
}

.cardClase a h3{
  align-self: center;
  justify-self: center;
  text-align: center;
}

.cardClase h4{
  z-index: 10;
  position: absolute;
  bottom: 300px;
}

/* Botones Fav y Watch */
.cardBtn1inFav{
  z-index: 10;
  position: absolute;
  bottom: 490px;
  left: 0px;
}
.cardBtn1noFav{
  z-index: 10;
  position: absolute;
  bottom: 490px;
  left: 0px;
}

.cardBtn2inW{
  z-index: 10;
  position: absolute;
  bottom: 490px;
  right: 0px;
}

.cardBtn2noW{
  z-index: 10;
  position: absolute;
  bottom: 490px;
  right: 0px;
}

.cardBtn2{
  z-index: 10;
  position: absolute;
  bottom: 300px;
}

/* New User */
.NewUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.NewUserForm form {
  display: flex;
  flex-direction: column;
  margin: 3vh 0;
}

.NewUserForm form h3 {
  color: var(--sideBar-text1-color);
  align-self: center;
  margin-bottom: 3vh;
}

.NewUserForm form input {
  width: 25vw;
  border-radius: 20px;
  font-size: large;
  padding: 1vh 0 1vh 2vw;
  margin: 1vh 1vw;
  background-color: var(--sideBarInput-bg-color);
}

.NewUserForm form button {
  width: 10vw;
  border-radius: 20px;
  font-size: large;
  padding: 1vh 0 1vh 0;
  margin: 1vh 1vw;
  align-self: flex-end;
}


/* Vista de Tabla */
.listClase {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-y: scroll;

}

.listClase h2{
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 0px;
  background-color: var(--list-bg-color);
  padding: 10px;
  color: var(--list-text2-color);
}

.listClase table {
  margin: 20px;
  background-color: var(--list-bg-color);
  padding: 10px;
}

.listClase th{
  padding: 5px;
  color: var(--list-text2-color);
  font-size: 1.5rem;
  text-align: center;
}

.colName{
  margin-left: 20px;
  width: 35vw;
}

.colPop{
  width: 10vw;
}

.colYear{
  width: 10vw;
}

.colBtn{
  width: 10vw;
}


tbody{
  border-collapse: separate;
}

td{
  background-color: var(--listRow-bg-color);
  text-align: center;
  margin:5px;
  color:var(--list-text1-color);
  padding: 1vh;
  border-spacing: 10px;
  border-bottom: 5px solid var(--table-bg-color);
  background-clip: padding-box 
}


td a{
  text-decoration: none;
  color:var(--list-text1-color);

}

tr{
  border-radius: 25px;
}

/*New User Form*/
.NewUserForm, .RegisteredUser{
  background-color: var(--sideBar-bg-color);
  
}

.RegisteredUser{
  width: fit-content;
  height: fit-content;
  padding: 2vh 2vw;
  border-radius: 25px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.RegisteredUser h3{
  margin-bottom: 5vh;
}

.NewUserForm ul{
  color: var(--list-text1-color);
  width: inherit;
  height: 10vh;
  overflow-y: scroll;
}

/* HOME */

.Home {
  height: 86vh;
  width: 85vw;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow-y: scroll;
}

.Home>div{
  margin: 2vh 2vw;
  background-color: var(--HomeRowGrid-bg-color);
  border-radius: 25px;
  z-index: 0;
  padding-top: 1vh;
  padding-right: 1vw;
}

.Home nav{
  margin: 2vh 2vw;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  justify-content: flex-start;
}

.trendingDiv, .categorieDiv>h2{
  margin: 1vh 1vw;
  color: white;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.Home form{
  flex-direction: row;
  width: fit-content;
}

.Home form label{
  margin: 0.5vh 0.5vw
}

.homeGrid>div{
  width: fit-content;
  margin: 1vh 1vw;
}

.homeGrid{
  overflow-x: scroll;
}

.Home nav h1{
  background-color: var(--sideBar-bg-color);
  color: white;
  padding: 1vh 2vw;
  border-radius: 25px;
  align-self: center;
  justify-self: center;
}

.HorizontalGrid{
  display: flex;
  flex-wrap: nowrap;
}

.HorizontalGrid .cardClase{
  width: 171px;
  height: 273px;
}

.HorizontalGrid .cardClase img{
  width: 171px;
  height: 273px;
}

.HorizontalGrid .cardBtn1inFav{
  z-index: 10;
  position: absolute;
  bottom: 227px;
  left: -10px;
}
.HorizontalGrid .cardBtn1noFav{
  z-index: 10;
  position: absolute;
  bottom: 227px;
  left: -10px;
}

.HorizontalGrid .cardBtn2inW{
  z-index: 10;
  position: absolute;
  bottom: 227px;
  right: -10px;
}

.HorizontalGrid .cardBtn2noW{
  z-index: 10;
  position: absolute;
  bottom: 227px;
  right: -10px;
}

.nothingFound{
  align-self: center;
  justify-self: center;
}